
.copy__right{
	margin: 0;
	padding: 0;

	/*color: #ffaadd;*/
	text-align: center;
	justify-content: center;
	align-items: center;
	/*border: 2px solid white;*/
	width: 100%;
	height: 40px;

}


.copy__right p {
	/*background-color: rgb(93, 130, 209);*/
	height: 100%;
	padding-top: 10px;

}

.copy__right span {
	/*background-color: rgb(93, 130, 209);*/
	color: yellow;
}

.copy__right span::before {
	content: '2020';
}