header {

	margin-top: 2px;
	margin-bottom: 2px;

	border-top: 2px solid white;
	border-bottom: 2px solid white;

	width: 100%;
	height: 120px;

	display: flex;
	justify-content: space-between;
}

.logo {
	order: 1;

	width: 90px;
	height: 90px;
	
	margin: auto 0px;
	
	margin-left: 50px;

	/*border: 1px solid yellow;*/

	text-align: center;
	justify-content: center;
	align-items: center;

	/*display: block;*/
}



.logo img
{

	width: 100%;
	/*height: 100px;*/
	height: 100%;

	text-align: center;
	justify-content: center;

	/*padding: 5px;*/
	border: .5px solid rgba(255,255,255,.8);

	box-shadow: 5px 5px 20px 2px rgba(200,200,200,.8);
}

nav {
	order: 2;

	min-width: 70%;

	/*border: .4px solid white;*/
	margin-left: 5%;

}

nav ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
}

nav ul li {
	
	/*background-color: yellow;*/
	background-color: var(--menu_bg_color);
	padding: 20px 0;
	margin: 30px auto;

	width: 100px;
	transition: all .5s ease 0s;

	text-align: center;

}

.logo {
	transition: all .5s ease 0s;
}

.logo:hover , 
.logo:hover img  {
	border: 2px solid rgba(200,200,200,.5);

	border-bottom-left-radius: 25px;
	border-top-right-radius: 25px;
	/*background-color: rgba(200,100,50,.5);*/
	background-color: yellow;
	margin-top: -8px;
	transform-origin: left;
	transform: skewX(0deg) translateY(20px) scale(1.2);

}
.log:hover img{
	/*box-shadow: 2px 10px 2px 2px rgba(200,200,100,.5);*/
	opacity: .2;
}

.btn_template_1 {
	border-bottom-left-radius: 25px;
	border-top-right-radius: 25px;
	transform: skewX(-20deg) translateY(15px);*/
}

nav ul li a {
	text-decoration: none;
	color: blue;
	text-align: center;
	justify-content: center;
	align-items: center;
	white-space: nowrap;


	transition: all .5s ease 0s;
}

nav ul li:hover, .active
{
	background-color: gold;
	transform: translateY(-2px);
}

nav ul li:hover a{
	font-weight: 600;
	color: white;
}


header li, 
header a,
header button {
	font-family: "Oswald",sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: rgb(50, 100, 250);
	text-decoration: none;
}


header button {
	color: white;
}

.cta {
	order: 3;

	top: 0px;
	width: 200px;
	height: 100%;

	/*margin-top: 0px;*/
	/*margin-left: 50px;*/
	/*margin-right: 5px;*/
	/*border: 2px solid white;*/


	padding: 50px auto;
	margin: 0px auto;
	margin-right: 5px;

	text-align: center;
	justify-content: center;
	align-items: center;
}


.cta button {
	margin: 20% auto;
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all .3s ease 0s;

	display: inline-block;
	overflow: 	hidden;	

}



button:focus,
button:hover {
		color: var(--text_color_body);
		/*color: white;*/
		/*background-color: rgba(0,136,169,.8);*/
		background-color: #3F51E4;
		box-shadow: 2px 2px 5px 0px rgba(50, 200, 200,.5);
		transform: scale(1.09) translateY(-5px);
		/*border: 1px solid white;*/
}
