
.zoomer {

	/*border: .2px solid black;*/

	position: absolute;
	top: 400px;
	left: 1%;

	width: 98%;
	height: 260px;

	padding: 0px;
	margin: 0px;
	/*overflow: hidden;*/

	/*border: 2px solid white;*/
}

.display_hide {
	display: none;
	visibility: hidden;
	opacity: 0;
}


.zoomer .box1 {
	/*top: 50%;*/
	margin: 0;
	padding: 0;
}


.zoomer  .img_sliders {

	display: block;
	position: relative;

	margin: auto;
	padding: auto;

	/*border: 2px solid red;*/

	width: 70%;
	height: 100%;

	/*left: 15%;*/
	/*transform: translateX(-15%);*/

	/*overflow: hidden;*/

}

.zoomer  .img_sliders .zoom_sliders {
	position: relative;
	/*border: .2px solid blue;*/

	margin: 0px auto;
	padding: 0px;
	left: 0%;
	width: 100%;
	height: 100%;

	/*margin: 20px;*/
	/*padding: 20px;*/


	/*border: 2px solid white;*/

	overflow: visible;
}

.zoomer  .img_sliders .zoom_sliders img {

	position: relative;

	border: 1.2px solid rgba(255,1,1,.4);
	border-radius: 5px;
	padding: 0;
	margin: 0;

	/*top: 1%;*/
	left: 1%;

	width: 24%;
	height: 98%;

	transition: transform .2s , scale .5s;


}

.zoomer  .img_sliders .zoom_sliders:hover img {
	transform: scale(.8);
	filter: blur(3px);

}

.zoomer .img_sliders .zoom_sliders img:hover{

	box-shadow: 2px 2px 10px 2px #8AA1CA;
	border:none;
}

.zoomer  .img_sliders .zoom_sliders img:nth-child(1):hover {

	filter: blur(0);

	transform: translateX(20%);
	transform: scale(1.25);
	z-index: 9999;
}

li span {
	
	display: none;
	/*content: 'GOOD'; */
	position: relative;
    top: 8px; 
    left: 10px;
    padding: 5px; 
    margin: 10px;
    z-index: 100;
    background: #333;
    border: 1px solid #c0c0c0;
    opacity: 0.8; 
    width: 300px;
    color: White;
    text-align: left;
}

.zoomer  .img_sliders .zoom_sliders img:nth-child(2):hover {
	

	filter: blur(0);

	transform: translateX(10%);
	transform: scale(1.3);
	z-index: 9999;

}

.zoomer  .img_sliders .zoom_sliders img:nth-child(3):hover {
	
	filter: blur(0);

	transform: translateX(-10%);
	transform: scale(1.3);
	z-index: 9999;

}

.zoomer  .img_sliders .zoom_sliders img:nth-child(4):hover {
	

	filter: blur(0);

	transform: translateX(-20%);
	transform: scale(1.25);
	z-index: 9999;

}