header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*padding: 30px 15%;*/
	padding: 30px 30px;

	/*border: 1px solid #ffddee;*/

	text-align: center;
	top: 2px;

	/*position: fixed;*/
	/*top: 20px;*/

}

header li, 
header a, 
header button {
	font-family: "Oswald",sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: rgb(50, 100, 250);
	text-decoration: none;
}

header button {
	color: white;
}

#navbar {
	position: relative;
	width: 100%;

	height: 50px;

	border-bottom: 2px solid #FAEE01;
}

.sticky_header {
  /*position: sticky;*/
  position: fixed;
  top: 2px;
  /*width: 100%;*/
}

.logo {
	cursor: pointer;
	/*order: 1;*/
	margin-right: 0px;

	/*border: .1px solid white;*/

}

.logo {
	transition: all .2s ease-in-out 0s;
}

.logo:hover {
	/*transform: scale(1.2) translateY(-2px);*/
	transform: scale(1.2) translateY(-10px);
	box-shadow: 2px 2px 10px 0px rgba(120,168,138,.5);
	/*border: .1px solid yellow;*/
}

header nav {
	
	margin-left: 20px;
	/*order: 3;*/
	/*border: 1px solid white;*/
	min-width: 	80%;
}
.nav__links {

	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 10px 20px;
	margin: 0px auto;
	
	background-color: #faee00;
	
	text-align: center;
}


.nav__links li:nth-child(1) {
	/*padding: 0 20px 0 0;*/
}

.nav__links li {
	transition: all .3s ease 0s;
}

.nav__links li a {
	transition: all .3s ease 0s;
	padding: 0px auto;

	/*background-color: #faee00;*/

	/*border: .2px solid red;*/
	text-align: center;
}

.active
{
	background-color: blue;
	transform: translateY(-2px);
}

.active a {
	color: white;
}

.nav__links li:hover,
.nav__links li:focus,
.nav__links li:hover a,
.nav__links li:focus a,
.active1
{

	color: white;
	background-color: blue;
	transform: translateY(-2px);
}


.cta {
	/*order: 3;*/
}

button {
	margin: 0px auto;
	margin-left: 20px;
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all .3s ease 0s;

	overflow: 	hidden;	
}


button:focus,
button:hover {
		color: var(--text_color_body);
		/*color: white;*/
		/*background-color: rgba(0,136,169,.8);*/
		background-color: #3F51E4;
		box-shadow: 2px 2px 5px 0px rgba(50, 200, 200,.5);
		transform: scale(1.09) translateY(-5px);
		/*border: 1px solid white;*/
}


