
main {
	position: relative	;
	width: 100%;
	min-height: 700px;
	/*background-color: yellow;*/

	/*border-top-right-radius: 10px;*/
	/*border-top-left-radius: 10px;*/

	/*border: 2px solid white;*/
	/*border-radius: 10px;*/
}
